.about-us {
   // @extend %out;
   width: 100%;
   margin-left: 5%;
   margin-right: 5%;
  &__title {
    font-size: 24px;
    margin:0;
    text-align:center;
   
  }
  &__confectioner-info-photo {
       display: flex;
    justify-content: space-around;
    margin-top: 5%;
    flex-wrap: wrap;
  }
  &__img-wrapper {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;

  }
  &__img {
    position: relative;
    left: -35%;

  }
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: auto;
    margin-left: 8%;
  }
  &__link {
    // display: block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 25px;
    position: relative;

  }
  &__social-img {
  position: relative;
  left: 10px;
  bottom: -10px;
  }
  .vk-pos {
  left: 5px;
  bottom: -10px;
  }
  &__confectioner {
    font-family: $IntroScriptRH2Base;
    font-size: 22px;
    margin:0;
    padding:0;
    width: 100%;
    

  }
  &__motto {
    font-family: $CirceBold;
    font-size: 14px;
      margin:0;
    padding:0;
 width: 100%;
  }
  &__role {
      margin:0;
    padding:0;
    font-family: $CirceRegular;
    font-size: 14px;
     width: 100%;
  }
  &__quotation {
    font-size: 60.25px;
    font-family: $PlayFairBold;
    color: #FFF;
    margin:0;
    margin-top: 10%;
    

  }
  &__motto-of-confectioner {
  margin:0;
    padding:0;
    font-family: $PlayfairBoldItalic;
    text-align:center;
    
  }
  &__painting-img {
    margin-top: 10%;

  }
}