.any-questions {
  // @extend %out;

  &__form {
    display: flex;
    flex-wrap: wrap;

    &-title {
      font-family: $IntroScriptRH2Base;
      font-size: 22px;
      margin:0;
      

    }
    &-text {
      font-family: $CirceRegular;
      font-size: 14px;
      margin:0;
      

    }
    &-input {
      padding: 10px 20px;
      font-family: $CirceRegular;
      font-size: 14px;
      width: 100%;
      margin-top: 2%;
    }
.input-height {
  // display: block;
  height: 120px;
  resize: none;
}
    &-submit {
      margin-top: 2%;
      border:0;
      margin-bottom: 2%;
      @extend %button;
      padding: 20px 50px;
      font-family: $CirceRegular;
      text-transoform:capitalize;
    }
  }

  &__social {
    display: flex;
    justify-content: space-around;

  }
}