.cakes-size {

  background-color: #fff;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    @extend %card;

  width: 100%;
  // @extend %out;
  &__number {
    @extend  %number;
  }
  &__choise-size {
    @extend %choise;
    width: 80%;

  }

  &__circle {
        margin-top: 15%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 120px;
   background-image: url(../img/circle.png);
   background-repeat: no-repeat;
   background-position: 50% 50%;
  }
  &__img {

  }
  &__weight {
    margin:0;
    font-fmaily: $CirceRegular;
    &:before {
      content:"1";
      font-size: 36px;
      font-weight: normal;
    }
  }

  &__slider {
    // @extend %out;
    width: 100%;
    // display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    &-button {
      display: none;
    }
    &-label {
      margin-top: 5%;
     font-size:0;
     display: block;
     width: 8px;
     height: 8px;
     content:'';
     border-radius:50%;
     border:0;
     background-color: #f50049;

   }
   .label-two {
    width: 6px;
    height: 6px;
    background-color: #ddd;
    margin-left: 2%;
  }
  .label-last {
    width: 4px;
    height: 4px;
    background-color: #ddd;
    margin-left: 2%;
  }
}
  &__exact-size {
    width: 100%;
    text-align: center;
    font-fmaily: $CirceRegular;
    font-size: 14px;
    margin-top: 15%
  }
  &__exact-weight {
   margin-top: 1%;
   width: 100%;
   font-size: 14px;
   text-align: center;  
   font-fmaily: $CirceRegular;
   font-weight: lighter;
 }
 &__button {
  margin-top: 15%;
  @extend %button;
}
}
