.decor {
  // @extend %out;

  @extend %card;
  width: 100%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;

  &__number {
    @extend %number;
  }
  &__choise-decor {
   @extend %choise;
   width:80%;
 }
 &__wrapper-img {
  position: relative;
  width: 100%;
  text-align: center;
// @extend %out;
 }
 &__img {
  position: relative;
bottom: -2px;

}
&__count {
@extend %count;
font-size: 12px;
position: absolute;
bottom: 5%;
right: 20%;
}


&__slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-button {
    display: none;
    &-label {
      font-size:0;
      margin-top: 5%;
      font-size:0;
      display: block;
      width: 8px;
      height: 8px;
      content:'';
      border-radius:50%;
      border:0;
      background-color: #f50049;
    }
  }
}
.label-two {
          width: 6px;
     height: 6px;
 background-color: #ddd;
 margin-left: 2%;
}
 &__name {
     margin-top: 5%;
   width: 100%;
   font-size: 14px;
   text-align: center;  
   font-fmaily: $CirceRegular;
   font-weight: lighter;
 }
 &__price {
   margin-top: 1%;
   width: 100%;
   font-size: 18px;
   text-align: center;  
   font-fmaily: $PlayFairBold;
   font-weight: lighter;
 }
 &__button {
  @extend %button;
  margin-top: 10%;

}

  &__title {
    font-size: 22px;
    font-family:$PlayFairBold;
    color: #2d2829;
    margin-bottom: 5%;
    margin-top: 10%;



  }
  &__property {
    color: #f50049;
    font-family: $IntroScriptRH2Base;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin:0;

  }
  &__property-choisen {
       margin:0;
    border: 1px solid #dddddd;
    border-radius: 15px;
text-align: center;
    font-family: $CirceRegular;
    font-size: 14px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

}

.decor-label-two {
      width: 6px;
    height: 6px;
    background-color: #ddd;
    margin-left: 2%;
}

.decor-label-last {
      width: 4px;
    height: 4px;
    background-color: #ddd;
    margin-left: 2%;
}