.feedback {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
    margin-top: 2%;
  justify-content: center;
  // @extend %out;
  font-family: $CirceBold;
  text-align:center;
   color: #2d2829;
  &__title {
    width: 100%;
    margin:0;
    font-family: $PlayFairBold;
    font-size: 24px;
   

  }
  &__buyer-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-img-wrapper {
      display: block;
      width: 60px;
      height: 60px;
      overflow: hidden;
      position: relative;
      border-radius: 50%;
    }
    &-img {
      // width: 60px;
      // height: 60px;
      position: relative;
      left:-50%;
      bottom:50%;
      transform: translate(5%, 20%);
    }
    &-name {
      width: 100%;    
      margin:0;
      font-size: 14px;
      font-weight: bold;
    }
    &-age {
      width: 100%;    
      margin:0;
      font-size: 12px;
      font-weight: bold;
    }
  }
  &__message {
    font-size: 12px;
    width: 83%;

    &-see-all {
      color: #f87b91;
      font-style: italic;
      font-size: 12px;
    }

  }
  &__count {
    position: absolute;
    color: #f74679;
    right:0;
  }
  &__slider {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;

    &-btn {
       display: block;
       background-color: #f50049;
       width: 8px;
       height: 8px;
       border-radius: 50%;


    }
    .btn-two {
      margin-left: 2%;
      width: 6px;
      height: 6px;
      background-color: #fff;

    }
    .btn-three {
     margin-left: 2%;
      width: 4px;
      height: 4px;
      background-color: #fff;


    }

  }
 
}