.page-footer {

  background-color: #898989;
  color: #fff;
  &__title {
    margin:0;
    font-family: $PlayFairBold;
    font-size: 28px;
    margin-top: 2%;
    padding-left: 5%;
    

  }
  &__list {
    font-family: $fontRoboto;
    list-style: none;
    padding:0;
    padding-left: 5%;

  }
  &__item {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  &__link {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  &__social {
    display: flex;
    justify-content: space-around;
  }
    &__img-link {
    // display: block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 25px;
    position: relative;

  }
  &__social-img {
  position: relative;
  left: 10px;
  bottom: -10px;
  }
  .vk-pos-2 {
    left: 3px;
  }
  &__copyright {
    color: #b8b8b8;
    font-family: $fontRoboto;
    font-size: 12px;
    padding-left: 5%;
  }
}