$mobile: "(min-width: 320px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";
body {
  padding:0;
  margin:0 auto;
 // background-color: red;z
@media #{$mobile} {
	background-color: yellow;
}
@media #{$tablet} {
	background-color: #afd;
}
@media #{$desktop} {
	background-color: blue;
}
}
.nav-menu {
  width: 300px;
  height: 60px;
  outline: 2px solid black;
  outline-offset: -2px;
  // background-color: blue;
	&__list{ 
	list-style: none;
}
}