@import "blocks/variables.scss";
@import "blocks/mixins.scss";
body {
  padding:0;
  margin:0 auto;
  height: 9000px;
  @media #{$mobile} {
    background-color: #fbebea;
  }
  @media #{$tablet} {
    background-color: #afd;
  }
  @media #{$desktop} {
    background-color: blue;
  }
}
@import "blocks/fonts.scss";
@import "blocks/header.scss";
@import "blocks/our-cakes.scss";
@import "blocks/individual-order.scss";

